{% load i18n %}
 
                <!-- product -->
						<div class="col-md-4 col-xs-6 " >
							<div class="product">
								<div class="product-img">
									<img src="{{product.thumbnail.url}}" alt="">
									<div class="product-label">
										<span class="sale">{% trans "chat" %}</span>
										<span class="new">{% trans "call" %}</span>
									</div>
								</div>
								<div class="product-body">
									<p class="product-category">{{product.category}}</p>
									<h3 class="product-name"><a href="{{product.get_absolute_url}}">{{product.name | truncatechars:30}}</a></h3>
									<h4 class="product-price">{{product.price}} </h4>
									<div class="product-rating">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
									</div>
									<div class="product-btns">
										<button class="add-to-wishlist"><a href="{% url 'vendor:add_to_wishlist' product.id  product.slug %}"><i class="fa fa-heart-o"></i></a><span class="tooltipp">{% trans "add to wishlist" %}</span></button>
										<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">{% trans "quick view" %}</span></button>
									</div>
								</div>
							</div>
						</div>
						<!-- /product -->
			

    
    